@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap");
$purple: #f0edfc;
$blue: #eaedfd;
$pink: #f9effc;
$orange: #faf1e5;
$darkpurple: #b1a1f5;
$darkpink: #ffa1c5;
$darkorange: #fabf72;
$darkblue: #99b5ff;
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 3px solid #555555;
}

* {
  margin: 0px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  transition: transform 0.5s ease-in-out;
}
body {
  overflow: hidden;
}
.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 2.5fr 50px;
  grid-template-columns: repeat(3, 1fr);

  z-index: -1;

  &-border-h {
    grid-row: 2;
    grid-column: 1 / -1;

    border-top: 1px solid rgb(218, 216, 216);
    border-bottom: 1px solid #eee;
  }

  &-border-v {
    grid-row: 1 / -1;
    grid-column: 2;

    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
}
#name {
  position: relative;
  text-align: center;
  top: -1vw;
  letter-spacing: 1em;
  color: gray;
  font-size: 0.7em;
  text-transform: uppercase;
}
#design {
  position: fixed;
  text-transform: uppercase;
  letter-spacing: 1em;
  color: gray;
  font-size: 0.7em;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  top: 35vh;
  right: 96vw;
  transition: none;
}
#dev {
  position: fixed;
  letter-spacing: 1em;
  color: gray;
  font-size: 0.7em;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  top: 35vh;
  right: 2vw;
}
header {
  /* max-width: 1024px; */
  position: fixed;
  bottom: 3vh;
  left: 0;
}
#main {
  width: 90vw;
  height: 85vh;
  position: fixed;
  top: 5vh;
  left: 5vw;
  background: transparent;
}
#content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: white;
}
.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
}
.centerbox {
  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
p {
  margin: 0 10%;
  padding: 2em;
  line-height: 1.5em;
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //background: rgb(248, 247, 247);
  width: 100vw;
  a {
    padding: 1em 0;
    margin: 0 2em;
    color: hsl(0, 2%, 69%);
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid rgb(170, 170, 170);
    transition: 0.5s;
    letter-spacing: 0.5em;
    font-size: 0.7em;

    &:hover {
      transform: scale(1.2);
      &:first-child {
        color: $darkblue;
        border-bottom: 3px solid $darkblue;
      }
      &:nth-child(2) {
        color: $darkpurple;
        border-bottom: 3px solid $darkpurple;
      }
      &:nth-child(3) {
        color: $darkpink;
        border-bottom: 3px solid $darkpink;
      }
      &:last-child {
        color: $darkorange;
        border-bottom: 3px solid $darkorange;
      }
    }
  }
}
h1 {
  text-align: center;
  background: transparent;
  position: relative;
  font-size: 6em;
  top: -50vh;
  color: rgba($color: white, $alpha: 0.3);
  -webkit-text-stroke: 1px black;
}
#welcome-section {
  /*  scroll-snap-align: start; */
  height: 85vh;
}
.sticky + #main {
  padding-top: 100px;
}

h2 {
  text-align: center;
  font-size: 3em;
  color: white;
}
h3 {
  text-align: center;
  margin: 5% 0 2% 0;
}
.section {
  /*  scroll-snap-align: start; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 85vh;

  margin: 0;
}
#about {
  background: linear-gradient(135deg, #f0edfc, #afbcff);
  h2,
  h3 {
    position: relative;
    top: 10vh;
  }

  p {
    margin: 0 20%;
    padding: 2% 0 0 0;
    text-align: justify;
  }
  #resume {
    display: flex;
    justify-content: center;
  }
  a {
    background-color: $darkblue;
    margin: 1rem 0;

    color: white;
    font-weight: bold;
    padding: 0px 30px;
    line-height: 42px;
    height: auto;
    border-radius: 46px;
    &:hover {
      box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.2);
    }
  }
}
#experience {
  h2 {
    position: relative;
    top: 10vh;
  }
  background: linear-gradient(-135deg, #b1a1f5, #ffffff);
  span {
    text-transform: none;
    font-size: 1rem;
    margin: 0 0 0 0.3rem;
  }
  .job-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -1rem;
  }
  .date {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .company {
    font-weight: 500;
    color: darken($darkpurple, 10%);
  }
  h2 {
    position: relative;
    top: 25vh;
  }
  ul {
    list-style-type: circle;
    font-size: 0.8rem;
    margin: 1rem 0;
  }
  li {
    margin: 0.3rem 0;
  }
  > div {
    margin: 0 20%;
    padding: 2% 0 0 0;
  }
}
#projects {
  height: 85vh;

  padding: 50px 0;
  margin: 1px 0;

  background: linear-gradient(-30deg, #fbd1f1, #fff8f3);
  overflow: hidden;
}
#text {
  position: relative;
  width: 50vw;
  left: 10%;
  top: 50vh;

  h2 {
    display: inline-block;
    text-align: left;
  }
  p {
    padding-left: 0;
    margin: 0;
  }
  a {
    background-color: #f0d2e1;
    color: white;

    font-weight: bold;
    padding: 0px 30px;
    line-height: 42px;
    height: auto;
    display: inline-block;
    border-radius: 46px;
    &:hover {
      box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.2);
    }
  }
}
.fixed {
  position: fixed;
  top: 25px;
  left: 10vw;
  width: 80vw;
  height: 60vh;
}
.project-tile {
  width: 0;
  height: 0;
  margin: 250px 0;
  &:hover {
    transform: translateY(-50px) translateX(-50px);
    .top {
      /*         box-shadow: 0 0 30px 15px, rgba(38, 39, 73, 0.1);*/
      box-shadow: 100px 100px 40px -30px rgb(21, 16, 41);
    }
  }
}
$offset: 100vw;
#menu {
  transition: transform 0.5s ease-in-out;
  position: relative;
  top: -500px;
  left: 500px;
  transform: rotate(60deg) skewY(-30deg) scaleY(0.864);
}
.left,
.right,
.top {
  transform-origin: 0 0;
}
.top {
  height: 200px;
  width: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 1%;
  position: relative;
  bottom: 550px;
}

.left {
  border: 1px solids slategrey;
  box-sizing: border-box;
  height: 250px;
  width: 20px;
  background-color: rgb(14, 13, 49);
  transform: rotate(90deg) skewY(-38deg);
  position: relative;
  bottom: 80px;
  left: 250px;
}
.right {
  border: 1px solids slategrey;
  box-sizing: border-box;
  height: 20px;
  width: 199px;
  background-color: black;
  position: relative;
  bottom: 508px;
  transform: rotate(90deg) skewX(-52deg) scaleY(0.869);
  left: 267px;
}
.shadow {
  height: 150px;
  width: 200px;
  border-radius: 5%;
  position: relative;
  bottom: 0px;
  left: 100px;
}
#mood {
  background-image: url("../assets//img/dev/moodboard.png");
}
#first {
  background-image: url("../assets/img/dev/firstweb.PNG");
}
#nature {
  background-image: url("../assets/img/dev/nature.png");
}
#news {
  background-position: 50% 30%;
  background-image: url("../assets/img/dev/news.png");
}
#recipe {
  background-image: url("../assets/img/dev/recipe.PNG");
  background-position: 50% 20%;
}
#fashion {
  background-image: url("../assets/img/dev/fashion.PNG");
}

#services {
  height: 85vh;

  padding: 50px 0;
  margin: 1px 0;
  background: linear-gradient(120deg, #fbf1d1, #fac2aa);
  h2 {
    margin: 0 0 3em 0;
  }
  > * {
    position: relative;
    top: 65vh;
  }
  img {
    width: 260px;
    height: auto;
  }
}
#grid {
  height: 100%;
  width: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;
  left: 1vw;
}
.card {
  width: 300px;
  height: 450px;

  border-radius: 2%;
  box-shadow: 0 10px 20px -5px black;
  background: white;
  position: absolute;
  p {
    padding: 20px 0 1rem;
    margin: 0;
  }
  a {
    transition: ease-in 0.5s background;
    margin-bottom: 80px;
    background: rgb(204, 204, 204);
    padding: 10px 20px;
    border-radius: 26px;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2em;
  }
  &:hover {
    .face.front {
      height: 60px;
    }
    span {
      font-size: 1em;
    }
  }
}

.prev {
  //transform: rotateY(60deg);
  transform: translate3d(5vw, 0, -30vw);
  animation: leftCard 10s ease-in-out infinite both;
}
.next {
  //transform: rotateY(-60deg);
  transform: translate3d(55vw, 0, -30vw);
  animation: rightCard 10s ease-in-out infinite both;

  // left: 60vw;
}
.center {
  // transform: rotateY(0) translateZ(10vw);
  transform: translate3d(30vw, -5vw, 0);
  animation: centerCard 10s ease-in-out infinite both;
}
@keyframes centerCard {
  0%,
  100% {
    transform: translate3d(30vw, -5vw, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(55vw, 0, -30vw);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(5vw, 0, -30vw);

    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}
@keyframes leftCard {
  0%,
  100% {
    transform: translate3d(5vw, 0, -30vw);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(30vw, -5vw, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(55vw, 0, -30vw);

    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}
@keyframes rightCard {
  0%,
  100% {
    transform: translate3d(55vw, 0, -30vw);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(5vw, 0, -30vw);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(30vw, -5vw, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.back {
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.front {
  transition: 0.5s;
  border-radius: 2%;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
  }
}
span {
  transition: 0.5s;
  align-self: center;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  z-index: 100;
  color: white;
  margin: 0 20px;
}
#web {
  .front,
  a:hover {
    background: linear-gradient(45deg, #ffa1c5, #99b5ff);
  }
}
#art {
  .front,
  a:hover {
    background: linear-gradient(45deg, #fef78d, #ffa1c5);
  }
}
#graphic {
  .front,
  a:hover {
    background: linear-gradient(225deg, #feed8d, #7febff);
  }
}
#education {
  h2,
  h3 {
    transform: none;
  }
  background: linear-gradient(120deg, #fbf1d1, #fac2aa);
  ul {
    margin: auto;
  }
  li {
    margin: 0 0 0 20%;
  }
}
#contact {
  padding: 50px 0;
  margin: 1px 0;
  height: 85vh;
  //background: linear-gradient(-10deg, #ffffff, #ffeee2);
  > * {
    position: relative;
    top: 120vh;
  }
  h2 {
    -webkit-text-stroke: 0.5px gray;
  }
  p {
    top: 140vh;
    text-align: center;
  }
}
.ir {
  display: block;
  overflow: visible;
  padding: 0 0 100%;
  position: relative;
  height: 0;
  width: 100%;
}
.ir > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 5% auto;
  text-align: center;
  width: 110rem;
  max-width: 100%;
}
.soc li {
  display: inline-block;
  transform: scale(2);
  margin: 12px;
  margin: 2rem;
  &:hover {
    cursor: pointer;
  }
}
.soc a,
.soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 30px;
  height: 3.6rem;
  width: 30px;
  width: 3.6rem;
}
.icon:hover {
  border-radius: 100%;
  color: #ffffff;
  fill: #ffffff;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out,
    -webkit-transform 0.5s ease-out;
}
.email {
  color: $darkorange;
  fill: $darkorange;
}
.email:hover {
  background: $darkorange;
}

.github {
  color: $darkpink;
  fill: $darkpink;
}
.github:hover {
  background: $darkpink;
}
.instagram {
  color: $darkpurple;
  fill: $darkpurple;
}
.instagram:hover {
  background: $darkpurple;
}
.codepen {
  color: $darkblue;
  fill: $darkblue;
}
.codepen:hover {
  background: $darkblue;
}

footer {
  background: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: rgb(138, 138, 138);
    font-size: 0.6rem;
    margin: 0;
  }
}
@media (min-width: 1025px) {
  #menu {
    top: -150px;
    left: 700px;
  }
  #services #grid {
    position: relative;
    left: 3vw;
    transform: scale(1.3);
  }
}

@media (max-width: 769px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  .section {
    height: auto;
    padding: 50px 0;
  }
  #about {
    p {
      font-size: 0.8rem;
    }
  }
  #menu {
    transform: rotate(60deg) skewY(-30deg) scaleY(0.864) scale(0.8);
    top: -700px;
    left: 250px;
  }
  #grid {
    transform: scale(0.8);
    left: -3vw;
  }
  #services h2 {
    margin: 0 0 2em 0;
  }
  #contact {
    padding: 0;
    > * {
      top: 160vh;
    }
  }
}
@media (max-width: 300px) {
}
